body {
    background-image: url("../images/back.jpg");
    background-repeat: no-repeat;
}

img {
    max-height: 100px;
    max-width: 100px;

}

p, h1 {
    color: white;
}

.welcome {
    color: white;
}



.crystals {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: #cccccc;

}

.crystalbox {
    border: 1px solid green;
    height: 200px;
    width: 200px;

}

